<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col col-md-6">
        <h5 class="card-title">{{ '::Menu:DailyCashFlows' | abpLocalization }}</h5>
      </div>
      <div class="text-right col col-md-6">
        <div class="text-lg-right pt-2">
          <button
            (click)="createDailyCashFlow()"
            *abpPermission="'Tulumba.DailyCashFlows.Create'"
            class="btn btn-primary"
            id="create"
            type="button"
          >
            <i class="fa fa-plus mr-1"></i>
            <span>{{ '::NewEntry' | abpLocalization }}</span>
          </button>
        </div>
      </div>
    </div>
    <div class="sum">
      <h5>
        {{ '::DailyCashFlow:Sum' | abpLocalization }}:
        {{ sum.toLocaleString('en-US', {minimumFractionDigits: 2}) }} KM
      </h5>
    </div>
    <div class="row">
      <mat-expansion-panel class="filter-expansion-panel" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title> {{ '::Filter' | abpLocalization }} </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          <form (change)="filter()" [formGroup]="filterForm">
            <div class="form-group filter-form-input">
              <label for="shop-id">{{ '::DailyCashFlows:ShopId' | abpLocalization }}</label
              ><span> * </span>
              <select class="form-control" formControlName="shopId" id="shop-id">
                <option *ngFor="let type of shops" [ngValue]="type.id">{{ type.name }}</option>
              </select>
            </div>
            <div class="form-group filter-form-input">
              <label>{{ '::Filter:DateLTE' | abpLocalization }}</label
              ><span> * </span>
              <input
                #datepicker2="ngbDatepicker"
                (click)="datepicker2.toggle()"
                (dateSelect)="filter()"
                class="form-control"
                formControlName="dateLTE"
                name="datepicker"
                ngbDatepicker
              />
            </div>
            <div class="form-group filter-form-input">
              <label>{{ '::Filter:DateGTE' | abpLocalization }}</label
              ><span> * </span>
              <input
                #datepicker1="ngbDatepicker"
                (click)="datepicker1.toggle()"
                (dateSelect)="filter()"
                class="form-control"
                formControlName="dateGTE"
                name="datepicker"
                ngbDatepicker
              />
            </div>
          </form>
        </div>
        <div class="text-right col col-md-6">
          <button
            (click)="refreshFilter()"
            class="btn btn-primary"
            id="refresh-filter"
            type="button"
          >
            <i class="fa fa-refresh mr-1"></i>
            <span>{{ '::Filter:Refresh' | abpLocalization }}</span>
          </button>
        </div>
      </mat-expansion-panel>
    </div>
  </div>
  <div class="card-body">
    <ngx-datatable
      [count]="dailyCashFlow.totalCount"
      [list]="list"
      [rows]="dailyCashFlow.items"
      default
    >
      <ngx-datatable-column [name]="'::DailyCashFlows:ShopId' | abpLocalization" prop="shopId">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ getShopName(row.shopId) }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [name]="'::DailyCashFlows:Date' | abpLocalization" prop="date">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row.date | date: 'dd.MM.YYYY.' }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column
        [name]="'::DailyCashFlows:Month' | abpLocalization"
        prop="monthlyCashFlowId"
      >
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ getMonthlyCashFlowDate(row.id) }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column
        [name]="'::DailyCashFlow:Sum' | abpLocalization"
        [sortable]="false"
        prop="dailyCashFlowSum"
      >
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row.sum.toLocaleString('en-US', {minimumFractionDigits: 2}) }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column
        [maxWidth]="150"
        [name]="'::Actions' | abpLocalization"
        [sortable]="false"
      >
        <ng-template let-row="row" ngx-datatable-cell-template>
          <div class="d-inline-block" container="body" ngbDropdown>
            <button
              aria-haspopup="true"
              class="btn btn-primary btn-sm dropdown-toggle"
              data-toggle="dropdown"
              ngbDropdownToggle
            >
              <i class="fa fa-cog mr-1"></i>{{ '::Actions' | abpLocalization }}
            </button>
            <div ngbDropdownMenu>
              <button
                (click)="editDailyCashFlow(row.id)"
                *abpPermission="'Tulumba.DailyCashFlows.Edit'"
                ngbDropdownItem
              >
                {{ '::Edit' | abpLocalization }}
              </button>
              <button
                (click)="delete(row.id)"
                *abpPermission="'Tulumba.DailyCashFlows.Delete'"
                ngbDropdownItem
              >
                {{ '::Delete' | abpLocalization }}
              </button>
            </div>
          </div>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>

<!-- Add the modal here -->
<abp-modal [(visible)]="isModalOpen">
  <ng-template #abpHeader>
    <h3>{{ (selectedDailyCashFlow.id ? '::Edit' : '::NewEntry') | abpLocalization }}</h3>
  </ng-template>

  <ng-template #abpBody>
    <form (ngSubmit)="save()" [formGroup]="form" class="input-form">
      <div class="form-group">
        <label>{{ '::DailyCashFlows:Date' | abpLocalization }}</label
        ><span> * </span>
        <input
          #datepicker="ngbDatepicker"
          (click)="datepicker.toggle()"
          class="form-control"
          formControlName="date"
          name="datepicker"
          ngbDatepicker
          ngbDatepicker
        />
      </div>
      <div class="form-group">
        <label for="shop-id">{{ '::DailyCashFlows:ShopId' | abpLocalization }}</label
        ><span> * </span>
        <select
          class="form-control"
          formControlName="shopId"
          id="shop-id"
        >
          <option *ngFor="let type of shops" [ngValue]="type.id">{{ type.name }}</option>
        </select>
      </div>
    </form>
  </ng-template>

  <ng-template #abpFooter>
    <button abpClose class="btn btn-secondary" type="button">
      {{ '::Close' | abpLocalization }}
    </button>

    <!--added save button-->
    <button (click)="save()" [disabled]="form.invalid" class="btn btn-primary">
      <i class="fa fa-check mr-1"></i>
      {{ '::Save' | abpLocalization }}
    </button>
  </ng-template>
</abp-modal>
